.mentorship{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.card{
    max-width: 450px;
    min-width: 250px;
    margin:  5px;
}

.mentorship-image{
    border-top: 10px solid #431152;
    border-left: 10px solid #431152;
}

.card img{
    display: block;
    margin: 1.5em auto;
    max-width: 95%;  
}

.mentorship-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.brainstorm{
    font-size: 2.5rem;
    padding: 20px;
    color: #431152;
}

.mentorship-content ul{
    list-style-type: disc;
    
}

.mentorship-types{
    font-size: 2rem;
    padding: 20px;
    color: #431152;
}

.mentorship-section{
    background-color: #431152;
    color: white;
}


.wrapper{
    width: min(900px, 100% -3rem);
    margin-inline: auto;
}


table{
    width: 100%;
    border-collapse: collapse;
    background-color: #431152;
    border: 2px solid white;
    
}

caption,
th,
td{
    padding: 1rem;
    text-align: left;
}

caption{
    background: hsl(0 0% 0%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

th{
    background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n){
    background: hsl(0 0% 0% / .7);
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}





